main{
    font-family: sans-serif;
    line-height: 30px;
    color: rgb(97, 79, 79);
}
main h1{
    color: rgb(214, 214, 3);
    font-family: Star;
    text-align: center;
    
}
@font-face {
    font-family: Star;
    src: url("../../Starjedi.ttf");
}