*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
}

ul li a{
    color: rgb(228, 227, 226);
    font-family: sans-serif;
}
.search-button{
    display: none;
}
.menu .itens li a:hover{
    color: yellow;
}
.menu .logo a{
    color: yellow;
}
.logo{
    font-weight: bold;
    font-family: cursive;
    color: yellow;
    font-size: 5vh;
    
    
    text-align: center;
}

.itens{
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    width: 40vw;
    
    height: 5vh;
    position: relative;
    top: 2px;

    
}
.slider{
    width: 100vw;
    height: 95vh;
}
.slides{
    display: flex;
}
#f1:checked~.first{
    margin-left: 0;
}
#f2:checked ~.first{
    margin-left: -100%;
}
#f3:checked~.first{
   margin-left: -200%; 
}
#f4:checked~.first{
    margin-left: -300%;
}
.slides img{
   width: 100vw;
   height: 95vh;
}
.manual-navigation{
    position: relative;
    width: 100vw;
    bottom: 6.5vh;
    display: flex;
    justify-content: center;
    
    
}
.manual-btn{
    
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.nav-auto{
    position: absolute;
    width: 100vw;
    margin-top: 89vh;
    display: flex;
    justify-content: center;
    
    
}
.nav-auto div{
    border: solid 1px rgb(0, 255, 76) ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 3vw;
}
.nav-auto div:not(:last-child){
    margin-right: 3vw;
}
.nav-auto div:hover{
    background-color: green;
}

#f1:checked~.nav-auto .auto-btn1{
    background-color: violet;
}
#f2:checked~.nav-auto .auto-btn2{
    background-color: violet;
}
#f3:checked~.nav-auto .auto-btn3{
    background-color: violet;
}
#f4:checked~.nav-auto .auto-btn4{
    background-color: violet;
}
.slide{
    
    position: relative;
}
.slides input{
    display: none;
}
.menu{
    display: flex;
    align-items: center;
    border-bottom: solid black;
    background: linear-gradient(black,rgb(71, 70, 70),rgb(28, 28, 36));
    height: 5vh;
    justify-content: space-around;
}   
.search-bar{
    
    width: 30vw;
    text-align: center;
}
.ham{
    display: none;
}

@media only screen and (max-width:700px) {

    .ham{
        display: block;   
    }
    .search-bar{
        display: none;
    }

    .line_one{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
    }
    .line_two{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
        margin-top: 5px;
    }
    .line_three{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
        margin-top: 5px;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid black 2px;
        background: linear-gradient(black,rgb(71, 70, 70),rgb(28, 28, 36));

    }
    .itens{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 8.2vh;
        background-color: blue;
        
    }
    .menu{
        padding: 2vh;
    }
    .search-button{
        display: block;
        background-color: violet;
    }

    h1{
        font-family: Star;
    }
    .pages{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .ham:active>:nth-child(1){
        animation: transition 2s linear;
        position: relative;
        top: 10px;
    }
    .ham:active>:nth-child(3){
        animation: transition2 2s linear;
        position: relative;
        bottom: 10px;
    }
    @keyframes transition {
        from{transform:rotate(0deg);}
        to{transform:rotate(120deg);}
    }
    .ham:active+.pages{
        animation: transition3 2s linear;
        
    }
        .ham:active+.pages{
        animation: transition3 2s linear;
        
    }
    .ham:active+.pages{
        animation: transition3 2s linear;
        
    }

@keyframes transition2 {
    from{transform:rotate(0deg);}
    to{transform:rotate(-120deg);}
}
@keyframes transition3 {
    from{transform:translateX(-10px);}
    to{transform:translateX(-50vw);}
}
    }


