main{
    font-family: sans-serif;
    line-height: 30px;
    color: rgb(97, 79, 79);
}
main h1{
    color: rgb(214, 214, 3);

    text-align: center;
    
}
header{
    font-family: sans-serif;
    line-height: 30px;
    color: rgb(97, 79, 79);
    background-color: aqua;
    
}
.pages{
    background-color: rgb(10, 214, 10);
    margin: auto;
    
    
}

header nav ul li a{
    text-decoration: none;
    list-style: none;
    
}

ul{
    list-style: none;
    display: flex;
    background-color: rgb(54, 10, 214);
    justify-content:center;
}

nav{
    background-color: aqua;
}