*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
}

ul li a{
    color: rgb(228, 227, 226);
    font-family: sans-serif;
}
.menu .logo a{
    color: yellow;
}
.logo{
    font-weight: bold;
    font-family: cursive;
    color: yellow;
    font-size: 5vh;
    
    
    text-align: center;
}
.itens{
    display: flex;
    justify-content: space-around;
    width: 40vw;
    
    
}

.menu{
    display: flex;
    align-items: center;
    border-bottom: solid black;
    background: linear-gradient(black,rgb(71, 70, 70),rgb(28, 28, 36));
    height: 5vh;
}
.search-bar{
    
    width: 30vw;
    text-align: center;
}
.ham{
    display: none;
}

@media only screen and (max-width:700px) {

    .ham{
        display: block;   
    }
    .search-bar{
        display: none;
    }

    .line_one{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
    }
    .line_two{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
        margin-top: 5px;
    }
    .line_three{
        width: 50px;
        height: 5px;
        background-color: aqua;
        border-radius: 5px;
        margin-top: 5px;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid black 2px;
        background: linear-gradient(black,rgb(71, 70, 70),rgb(28, 28, 36));

    }
    .itens{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 8.2vh;
        background-color: blue;
        
    }
    .menu{
        padding: 2vh;
    }
    .search-button{
        background-color: violet;
    }

    h1{
        font-family: Star;
    }
    .pages{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .ham:active>:nth-child(1){
        animation: transition 2s linear;
        position: relative;
        top: 10px;
    }
    .ham:active>:nth-child(3){
        animation: transition2 2s linear;
        position: relative;
        bottom: 10px;
    }
    @keyframes transition {
        from{transform:rotate(0deg);}
        to{transform:rotate(120deg);}
    }
    .ham:active+.pages{
        animation: transition3 2s linear;
        
    }
        .ham:active+.pages{
        animation: transition3 2s linear;
        
    }
    .ham:active+.pages{
        animation: transition3 2s linear;
        
    }

@keyframes transition2 {
    from{transform:rotate(0deg);}
    to{transform:rotate(-120deg);}
}
@keyframes transition3 {
    from{transform:translateX(-10px);}
    to{transform:translateX(-50vw);}
}
    }


